* {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 80%;
  min-height: 400px; }

img {
  width: 80%;
  height: 400px;
  position: absolute; }

button {
  color: lightgrey;
  background-color: black;
  border: black;
  position: relative; }

.slide img {
  transition: opacity 2s ease-in-out; }
